<div class="jumbotron text-center">
    <h1 class="display-3">{{wel}}</h1>
    <p class="lead">Jot down ideas for your videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Idea</a>
</div>